@media only screen and (min-width:1250px) {
  *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
nav{
  background: linear-gradient(#bfd255 0%,#8eb92a 45%,#72aa00 100%);
  background-repeat: no-repeat;
  background-size: contain;
  max-height: max-content;
  position: relative;
}
.nav-link{
display: flex;
justify-content: space-between;
}
.nav-link li{
  list-style: none;
  padding-top:5px;
}
.nav-link a{
  font-family: Arial, Helvetica, sans-serif;
  font-weight:100;
  color:white;
  font-size:13px;
  text-transform: capitalize;
  text-decoration: none;

  padding-top:7px;
}
.sub-nav__link{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.sub-nav-link__first{
  display: flex;
  gap:30px;
}
.material-symbols-outlined{
  color: white;
  /* position: relative;
  right: 40px; */
  size: 20px;
  padding-top: 3px;
}
.search{
  position: relative;
  right: 5px;
  padding: 6px;
  background-color: #008cba;
  border: none;
  width:100px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.footer_links:hover{
  text-decoration: underline;
  color: greenyellow;
}
.dropdown {
  position: relative;
  display: inline-block;
}

#dropdown-btn {
  cursor: pointer;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropdown-content a:hover {
  background-color:red;
}
#guests a:hover{
  background-color:blue;
}
.mobile-view{
  display: none;
}
  }

  @media only screen and (max-width:428px) {
    *{
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }
    .desktop-view{
      display: none;
    }
    .material-symbols-outlined{
      color: white;
      size: 20px;
      padding-top: 3px;
    }
    .mobile-dropdown {
     display: block;
    }
    
    #mobile-dropdown_btn {
      cursor: pointer;
    }
    
    #mobile-dropdown_content {
    display: flex;
    flex-direction:row;
    }
    
    #mobile-dropdown_content a {
     color: white;
     display: flex;
     flex-direction: column;
     text-decoration: none;
     position: relative;
     right: 300px;
    }
    
    #mobile-dropdown_content a:hover {
      background-color:red;
    }
  }